{% extends "base.html" %} 
{% block header %}
 <h1><span class="glyphicon glyphicon-book" aria-hidden="true">美</span>
</h1>
{% endblock header %}

{% block content %}
<style type="text/css">
pre {
 white-space: pre-wrap;
 word-wrap: break-word;
 font-size: large;
}
</style>
<body>
<pre>
这天回到家后，我的脑海中冒出一个想法，紧接着猛然感到胃部有液体不断地往上涌。 
尽管太阳的几缕亮光已经透过了窗帘纺织较薄处，但我还是躲在被窝里面不敢出来。心跳自昨晚开始就维持在了一个很高的频率，能明显地感觉到头皮上的血管随着血液的循环而“嘣嘣嘣”的不断张进、收缩、张进、收缩着。头疼欲裂，昨晚在马桶上好像是干呕了六、七次。
整个晚上迷迷糊糊地睡着了数次，但很快便猛地睁开眼，一下子醒了过来，身上、衣服上、床单上早已被汗打湿。仔细回想一下，这些可能只是深受某些阴暗小说“毒害”的我的擅自揣测，无凭无据。但……万一是真的该怎么办？



我和她的相遇现在想想可能不是巧合。
那是四月份的事情了，我所在的学校恰逢六十周年校庆，校领导便下令校庆的各种活动和四月底的运动会一起举办。
四月的天气不算太热，但正午时猛烈的阳光对于我这样一个北方人来说已经算是很毒辣了。我站在图书馆某层楼的一扇不会被太阳照到的窗边俯视着校园，操场上、教学楼前以及在秋季景色很是不错的银杏大道等处，都充满了为校庆紧张准备而挥洒着汗水的人们。
我在的体格在班上属于非常瘦弱的类型，自小时候就身体不好，经常向学校里请假。另外因为性格原因，班级或学校上的各种活动基本没有参加过。
这次也不例外，他们不知什么时候便决定在校庆上表演某部知名话剧，我当然是没有被考虑进去的。我在班上没什么朋友，随便完成了一些简单的工作便偷偷溜了出来。不知道他们有没有发现我，会不会来指责我没有为班级出那份力。不过有着这样的想法，可能在某方面我还是有所期待吧。
想不起来那段时间在看谁的小说了。
因为平时周围没有人和我聊天，我便把大部分的课余时间投进了图书馆这一亩三分地。有时候小说的情节太引人入胜以至于上课的时候都在看，被老师发现过几次。老师口吐恶语讥讽着我，没有听见嘲笑声，但我仿佛能看见其他位置上的人微微上扬的嘴角，一定在背后不知怎样恶毒的拿嘲笑我吧。我已经不想把他们看作是我的同学了。自那之后我便没有再在教室里看过小说。
总之是一个不太出名的日本作家，那段时间很喜欢看他的小说。他的行文很阴郁，有一种说不出的苦涩感，可能某些人会感到“这就是青春吧”。主人公看似乐观的外表下实际掩盖着一颗阴暗的心，每天都活在悲观中，有时候我会不自觉的把书中的主人公带入自己。对了，有关“残缺美”等美的哲学概念也是从这个作家的笔下知道的。那时候学校里也没有开设哲学入门的课程，对那些抽象的概念我也是一知半解。
我又来到熟悉的日本文学区域。学校的图书馆不算大，也很少引进新书，几年下来我也看了个七七八八。我伸出手去够图书馆好不容易引进的那个作家的新书，不凑巧却摸到一双白皙、光滑的手。光滑可能是我的感官为了使事物显得不那么违和而主动补充的一种印象，因为我看到她都手腕、手背处有几道新旧不一的疤痕。
“啊啊……你要看这本书吗？你先……”我赶忙放开握着她的手的我的手，随便抽了一本书。不过还没等我说完话，她就红着脸、抱着书跑开了。
这是我第一次遇见她，就是这么的像狗血言情小说中的套路。
因为着急看那本书，我干脆去镇上那唯一的书店买下了那本书。奇怪的是，书店店员从库存里好不容易才翻出来一本完好的书——其它摆在书柜上的书都被某人趁着店员不注意撕掉了封底，封面也被胡乱地用马克笔乱画了几笔。我这才发现这本书的装订风格是这么的前卫，可以说是我见过封面最好看的书了。
第二次遇见她是在不久之后，也是在图书馆。那天下午，运动会正在热火朝天的举办着，图书馆自然是没有人的，只有坐在门口的服务员在打着瞌睡。我便又偷偷地从操场溜了出来来到图书馆看之前买的那本书。平时我比较爱惜书，在外面看书的时候我都会给书包上书皮，这本也不例外。
我正看得入迷时，上次那个女生不知什么时候已经坐到了我的对面。我注意到她的时候，她便把一本书向我推了过来，我这才看清那个女生的样子。她皮肤很白，面容姣好，但——脸上有一道疤。
“这本书我看完了，你……”即便是在这个没人的图书馆里，她说话声音也显得太小，后面半句我没有听清。还不等我回话，随即转身又跑掉了。
她推过来的书就是我手头正看的这本书。既然我已经买上了，便把书通过自助还书机还了。我这才发现，这本书的封底不知什么时候已经被撕掉了，仿佛是野兽在捕食猎物，一爪子下去，缺口参差不齐。
后来不知为何，我经常能在图书馆看见她躲在角落里一个人默默地看着书，她好像有点像我。某天，我下定决心便向她搭话了。原来她叫魏思，是我隔壁班的同学，但我在这之前并不认识她。或者说，即便是我班上“同学”，我也没有都认全。
于是我便和魏思熟络了起来，她和我一样在班集体中没什么朋友，便一门心思把自己的内心世界献给了文学作品。如果不算她手上和脸上疤痕，不，即便算上，魏思也称得上是“美少女”。虽然我一直都很在意，但我始终没有敢去问。
我们还经常一起在图书馆里看书、讨论情节、或者是讨论一些哲学的话题。现在想想，那根本算不上讨论，因为我不懂哲学，她是否懂哲学以我的水平也无法判断。在旁人看来我们应该就是在班门弄斧吧。
我有时候会纠结我们之间究竟为何关系。是朋友吗？我感觉不太像，我小学的时候也是有过那么一两个朋友的。朋友难道不是应该会一起上下学、聊天、说着些没有实际意义的玩笑打发时间的一种关系吗？我和她除了聊聊文学作品以外就很少有交流了，她的日常生活、爱好、家庭等等我都一无所知。有一次试探着问过类似的问题，但她却没有回答。
又或者我们是恋人的关系？朋友以上，恋人未满……不不不，这更加不可能了。我对她根本没有心跳的感觉，有时候小说里有一些少男少女间感情的描写，我感觉完全无法套到我的身上。
这个问题着实纠结了我很长时间。
“你能理解什么是缺陷美吗？这世上不存在完美无缺的事物，有缺陷的事物才是真实的事物，有缺陷的事物才能让人充满想象……”魏思说到后面近乎是在自言自语了，而我那时还无法理解这一观点。
“我觉得你说的不对，既然残缺的事物才是美的，那么学校外少了一条腿的小狗也是美的吗？生下来就有一只眼睛看不见的小猫也是美的吗？”
“断臂的维纳斯你知道吗？胜利女神你知道吗？它们的身体都是残缺的，你才会对缺失的部位有着遐想。人对美的感受无外乎都是靠想象得来的，就好比你所憧憬的那个人也只存在于你的想象中。”
“残缺和美根本水火不容，之所有想象，是因为渴望着那个并不残缺的事物。残缺只是不可避免存在的一种状态而已。”
我们又时也会像这样争论着连我们也搞不懂的话题，但她仿佛对“残缺美”有着某种执念，除此之外，其他观点我们似乎都能达成某种共识。这之后我便再也没和她聊过对“美”的看法了。
校庆结束已经四月底了，期末考试仿佛就在眼前，我和魏思见面的频率明显减少了。其实，要准备考试是我一厢情愿的想法，真实的原因应该是这样。我们最近在一起谈话的时候，总能感受到有人在背后对着我们指指点点，他们恐怕又在用什么歹毒的语言在背后议论我们两个。我是没有特别往心里去，但我们的距离确实是疏远了。
虽然我确实不喜欢她，但不得不承认我某种程度上还是把她当作朋友的，即便是性格有点奇怪，能有一个有共同话题、一起聊天的同伴真的是来之不易。那个时候心里还是挺失落的。
有一天放学后，那是个周末，我还在收拾要带回家的书，魏思却来到后门把我叫了出来。
“明天要来我家吗？我家里没人。” 一开始我还以为她在开玩笑。 
落日的余晖洒在我们身上，把影子拉的好长。阳光有些刺眼，我看不清她的表情。
就结果而言，那天我还是去了，是以看小说的名义。
她自称家里的小说可以媲美学校图书馆，我觉得是言过其实了，没有我想象中的那么多。
倒是我发现她的房间里书柜上的书有许多都是旧书，封面残缺、书页泛黄、书脊松动。书确实都是好书，还有许多我一直都想看却看不上的绝版书。
“好多书都是我从旧书摊上淘到的。”
之后我在她家里看了一会小说便走了。这有某种尴尬的氛围萦绕在我们当中，期间我们几乎没有怎么说话。
临走时，我问魏思有没有某本绝版已久的小说。她说那是她爸爸的书，现在被她打包好放到某房间的箱子里了，让我在自己去割开箱子找，还扔给我一把类似瑞士军刀一样的多功能折叠刀。
刀很锋利，我一按开关其中一片刀片弹了出来，在我的手上划了一道浅浅的口子。
魏思见状赶忙拿出了医疗箱为我包扎，这还是我第一次距离女孩子这么近，她头发上的香气我隐隐约约能闻到。
之后随便从她的书柜上抽了一本书，我便红着脸回家了。


“你和魏思是什么关系呢？”
新来的转校生在大庭广众之下把我从教室叫到了天台上，我能感受到我们班那些人呆滞的目光，尤其是女生。我都能听见这样的声音了：“……怎么会和他……”
为什么这样说呢？动画里不是都有“迷之转校生”这种说法吗？这个新来的转校生确实挺神秘的：明明已经进入六月了，却有人转校到我们这种升学率一般的非重点高中；而且这位转校生非常的帅气，脸型很讨女生喜欢，走在街上女生看见了都会双腿发软；甚至这个转校生举手投足都充斥着“贵族”的气息，放学上学都有专车接送，明显就是有钱人。
总之这位转校生一进学校便成为了学生间的热门话题，应该也是众多女生们的暗恋对象。不过我觉得用“明恋”对象来形容也没什么不妥吧，毕竟一下课，班里的一群女生立即就把转校生座位周围堵了个水泄不通，只看见班里的那些男生“缩”在教室角落里里骂骂咧咧的。
再说一句，这个转校生转来之后没有每天花前月下、享受青春哦，无论什么课他总是极其认真地在听课，老师提出的问题也总是能精准无误地回答出来。下课后也会耐心地回答他人的问题，从来没有见过他的眉毛皱过一下有过任何不快。
总之就是这样的情况，一个各方面都堪称完美的转校生转到了我们学校，还在众目睽睽之下找我“单独”聊天。
“我们连朋友都算不上，只是偶尔一起聊聊小说。”
“可我看你们关系挺亲密的，你们平时都看些什么小说能和我说说吗？”
就这样，最起码在他人眼里，我又多了一位朋友。
这位转校生在此之前几乎没有看过日本文学，都是看的欧美古典名著。但他的文化素养不是盖的，对文章、小说总是能提出不一样的观点，看待问题的角度也很新颖。自那以后他便“缠”上了我，每看完一本小说就来和我交流感想，美名其曰要深入了解日本文学后再找魏思交流，目的是加大自己的吸引力。
没错，他应该是喜欢魏思的。虽然他的人格魅力已经很强大了，但魏思貌似不愿意和没有共同话题的人聊天。于是这个转校生果断决定临阵磨枪，恶补一番。
有一次我和他刚吃完饭走在过道上聊天，魏思想着我们走了过来。
转校生主动向魏思打招呼：“你好，很高兴……”
结果魏思抬起了头，眼睛貌似睁大了那么一点，便又像第一次遇见我那样跑开了，也没有和我打招呼。不过我们平时在走廊里遇见了好像本来就不会打招呼。
“你上次向我我推荐的那本推理小说我看完了，实在是太好看了！”
这天我一来到学校，转校生便又和往常一样凑了过来。
“我这两天有向你推荐小说吗？”
“有啊，就是这本《黑死馆杀人事件》。”说着他便把这本厚厚的精装版本掏了出来，里面竟然满满的都是手写的批注、注释、感悟。
“你怎么真的看了这本了？”
“你不是说好看吗？这本确实是当之无愧的神作啊，里面关于《浮土德》描写都很精准到位，我看完后觉得不过瘾又把《浮土德》看了一遍。”
“我那是在和你开玩笑……”
“那还真是多谢你推荐了一本好书啊。”他握着我的手以表感激，毫不做作。我又感受到了四处传来针扎般的目光。
 “一千个人眼中有一千个哈姆雷特。”这句话本是用来形容读一本书，每个人都会有只属于自己的感受。放到人身上也是一样，每个人所认识的“哈姆雷特”都不会完全相同。一般情况下，大家都会选择性地忽视自己喜欢的人身上美的一面，并会去不断挖掘自己厌恶的人身上丑的一面。
我说这么多其实是想表达人无完人，每个人都是既有优点又有缺点。我本来是不相信世上有完美的人或事物的。人若是由精神和肉体共同组成的个体，他不管是精神还是肉体都是相当完美的吧。
之后有一天，依然是放学后。我像往常一样准备去图书馆看小说，刚走入门口的时候，我的视线一下聚焦到了某一点上——那个转校生与魏思坐在角落里小声交谈着。
看到这一幕，我赶忙从图书馆里退了出来。搞不明白，我为什么要躲着他们两个啊？可是我却没有上前去打招呼的勇气了，靠在图书馆外斑驳、掉漆的墙上，双腿却不听话般地迈不出那第一步。
我在小说里看到过，少年们在经历剧烈地情感波动时，心脏都会产生放射性的、贯彻全身的撕裂感在我的第四或第五根肋骨下，我感到强烈的不适。这种感觉还是我进入青春期以来第一次所体会到的。
我用右手捂住自己的胸部，以使痛感能够缓解些许。渐渐地感觉腿部失去了力气，慢慢地我滑到了地板上。
猛然回过神来，却发现我已经回到了我的卧室。已经是深夜了，不知为何我的眼眶竟然是红的，眼皮也不知什么时候变得浮肿了。我简单洗漱了一下，便躺到了床上。
原来，……是这种感觉。
这之后有很长一段时间，我都没有再去过图书馆了,放学后也是一打下课铃就赶忙背上书包回家了。也许是害怕，害怕再看到一些无法接受的景象。我选择逃避，以为看不见的就是不存在的。但是该来的还是会来。
“最近怎么都没怎么看见你呢？放学后那么快就跑的没影了。”
这天放学后，稍微慢了一步就被他追上了。
“马上就要考试了，这个学期都没怎么学习……”
“哦哦，那你要加油复习啊，今天放学一起走吧。”
明明每天都有专车接送，他却不知为何非要和我一起回家，不过我大概能猜到他想说什么。
“你觉得魏思这个人怎么样呢？”
来了，又是那种令人生厌的感觉，自心房中扩散，随着血液的不停涌动传播到全身各处。
“我喜欢魏思，我要向她表白。”
我有回答他吗，试着回想一下却感觉意识很模糊，什么都想不起来。总之浑浑噩噩地混过了这学期的最后几天，考完试后暑假来临了。这期间我也没有再看见他们两个人，或者即便看见了，我的大脑也逃避般地选择性忽略了吧。
放假后无事可做，大脑便开始胡思乱想。常常早上起来一晃神就已经是中午了，每天有大半的时间都是在发呆中度过。有时候想看看小说却发现根本看不进去，翻开封皮后连序章都没有看完意识就已经恍惚了。
可是那股悸动的感觉却一天比一天强烈。
一天深夜，想起来之前从她那里借的那本书还没有看。我找出了那本书，仍然是书页泛黄、封皮残缺。也许她也在某个夜晚里曾一页一页翻着这本书吧，我摩挲着封面胡思乱想着。书的内容没有看进去，却在不知不觉中睡着了。
心好痛，实在忍不住了。
那天经过的路我还没有忘记，她应该在家吧？
按下门铃，一片静寂。
我死死地盯着门上的猫眼，我能感觉到她就在后面。
似乎过了很久，门终于开了，“……你怎么来了？”
门半掩着，她只露出半个身子。
“之前从你这里借的书我看完了。”我从挎包里掏出那本书。
“……请进。”
她跟着我走到客厅，见我坐到了沙发上后，便转身走了出去，关住了门，“……我去给你倒水。”
我看见茶几上摆着上次那把类似瑞士军刀一样的多功能折叠刀，便又拿起来把玩。这次我小心翼翼地把刀片弹了出来，感觉刀片不像上次那样闪着寒光，色泽明显暗淡了。我试着在手背上划了一下，刀变钝了。
“家里只有这种茶叶了，不知是否合你口味。”我赶忙把刀藏到了身后。
她把两杯深色的茶水一前一后摆在了桌上，我端起靠近我的这杯，轻轻地抿了一口，不是很烫。
她坐在我对面，我们却什么话也没说。
终于，我下定了决心。
“你和那个转校生……现在怎么样。”
“……还可以。”
又是一阵无言。
“你……喜欢过我吗？哪怕……只有一点点。”
“我只是一直把你当作朋友。”表情毫无变化，看不出在撒谎。
就这样，我们两个人又保持了很久的沉默。
“上次那本书借我吧，我自己去拿。”我站了起来。
“你坐这里就好，我去拿。”她赶在我之前，冲了出去。
之后。
“是这本吧？”她过了好久才回到客厅。
“看完后我会还给你的。”
我拿了书后从她家了走了出去，这次彻底死心了。


暑假转眼间已经接近尾声了，感觉稍微能打起一点精神，可手边却没有想看的书。去书店扫了几次也没发现有出版社引进新书，印象中学校的图书馆在假期中依然开放，但是一想到那些事情却又下不定决心去。
犹豫了几天最终还是去了学校。现在虽然已经是八月底，但骄阳依旧火辣，汗哗哗地往下流，几次都想打退堂鼓，但还是忍住了。
图书馆还在学校深处，我坐在距校门还有一段距离的大榕树下乘凉。望着校内的风景却情不自禁地又想起了她，远处是我们的教学楼，东面就是学校风景最美的银杏大道了。现在银杏树的树叶还很翠绿，秋天时天气转凉后，银杏大道仿佛一夜之间就被刷成了金黄色。如果是她的话估计又会说着什么“残缺美”而想着砍掉几棵树吧。
好想和她在秋天来这里走一走，估计没有这种可能性了吧。
一辆高级轿车缓缓地停在了校门前，坐在副驾驶的黑衣男人打开后排的车门，“搬”出了一架轮椅，上面坐着一个我认识的人。是他！
黑衣男人一边推着他，一边打着伞向前走着。只见他斜靠在轮椅的椅背上，面色苍白、毫无精神，头发又油又乱很久没有修剪过。明明是大热天，他身前却披着一条薄毛毯，看不见手和脚，只有头露在外面。
我赶忙向他跑过去，他看见我后小声说了些什么，黑衣男人便停下了。
“是你啊……”他冲我微微一笑，有气无力地说着。不，不能说是微微一笑，从他的脸上我根本看不出是在笑，即使嘴角轻微上扬着。
我看着他的正脸，有一种看着陌生人的感觉，和之前那个完美的他简直判若两人。现在的他虽然还活着，我感觉他甚至已经死了。可能这就是她口中的缺陷美，但我完全感受不到美在哪里。
突然有一种想掀开他那条毛毯的冲动。
结果我还是什么也没做，一句话也说不出来，他便消失在了我的视线中。
这是我最后一次见他。
突然想起来，她既然不喜欢我，那天为什么要叫我去她家呢？


</pre> 
</body>
  
{% endblock content %}
